__pycache__/button.cpython-311.pyc
__pycache__/charactor_sprite.cpython-311.pyc
__pycache__/health_bar_sprite.cpython-311.pyc
__pycache__/rps.cpython-311.pyc
__pycache__/spritesheet.cpython-311.pyc
__pycache__/unanimated_sprite.cpython-311.pyc
__pycache__/textobject.cpython-311.pyc
